#logout-button
{
    margin-left: 900px !important;
}

.login-form
{
    margin: auto;
    width: 50%;
    width: 300px;
}
.welcome-form
{
    margin: auto;
    width: 50%;
    width: 700px;
}
#login-logo
{
    //margin-bottom: 50px;;
margin-top: 10px;

}